<h1>Showing selected workout</h1>

<p>
  Title: <%= @workout.title %>
</p>
<p>
  Description: <%= @workout.description %>
</p>

<%= link_to "Edit this workout", edit_workout_path(@workout) %> |

<%= link_to "Back to workouts listing", workout_path %>
