<h1 align="center">Category: <%= @category.name %></h1>
<div align="center">
  <% if logged_in? && current_user.admin? %>
    <div class="row">
      <span class="badge"><%= link_to "Edit category name", edit_category_path(@category) %></span>
    </div>
  <% end %>
</div>
<%= render 'workouts/workout', obj: @category.workouts%>
<div align="center">
</div>
